<?xml version="1.0" encoding="utf-8" ?>
<web-app>
    <servlet>
        <servlet-name>socket</servlet-name>
        <servlet-class>server.SocketServlet</servlet-class>
<!--        <init-param>-->
<!--            <param-name></param-name>-->
<!--            <param-value></param-value>-->
<!--        </init-param>-->
<!--        <load-on-startup>1</load-on-startup>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>socket</servlet-name>
        <url-pattern>/socket</url-pattern>
    </servlet-mapping>
</web-app>